.pageTitle h1 {
   font-weight: 700;
   font-size: 28px;
   color: #5d405c;
   line-height: 2rem;
   margin-bottom: 10px;
}
.pageTitle p {
   font-weight: 500;
   font-size: 14px;
   color: #828282;
   line-height: 1rem;
}
