.header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: #cec6ce;
   height: 90px;
}


.header nav a{
   color: #fff;
   font-size: 14px;
   font-weight: 700;
}